body {
    background-color: white;
}
/*
.liczba {
    width: 400px;
    height: 100px;
    background-color: black;
    color: white;
    
    animation: scale 3s infinite linear;
    
    
    position: absolute;
    top: 10px;
    left: 10px;
}
*/
#glowny {
    width: 400px;
    height: 100px;
    background-color: black;
    position: relative;
}

#ten {
    color: white;
    animation: scale 10s infinite steps(1,start);
    text-align: center;
    font-size: 50px;
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: black;
    animation-delay: 1s; 
    z-index: 3;
}

#nine {
    color: white;
    animation: scale 10s infinite steps(1,start);
    text-align: center;
    font-size: 50px;
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: black;
    animation-delay: 2s;    
    z-index: 2;
}
#eight {
    color: white;
    animation: scale 10s infinite steps(1,start);
    text-align: center;
    font-size: 50px;
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: black;
    animation-delay: 3s;  
    z-index: 1;
}


@keyframes scale {
    0% { transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

/*
@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}*/
